<% layout('layouts/mainLayout') %> 

<div class="row justify-content-center align-items-center">

    <div class="col-md-8 border">
        <div id="liveAlertPlaceholder"></div>
        <h1>Projects</h1>
      
        <% if (currentUser) { %>



            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#projectModal">
              Create new project
          </button>
          
          
          <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="projectModalLabel">Create new project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
          
          
          
                      <form action="/projects" method="POST" novalidate class="needs-validation" enctype="multipart/form-data" id="formCreateProject">
                          <div class="mb-3">
                              <label class="form-label" for="title">Title of new project</label>
                              <input class="form-control" type="text" id="title" name="project[title]" required>
                              <div class="valid-feedback">
                                  Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide project title.
                                  </div>
                          </div>
              
                          <div class="mb-3">
                              <label class="form-label" for="description">Description</label>
                              <input class="form-control" type="text"  id="description" name="project[description]" required>
                              <div class="valid-feedback">
                                  Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide project description.
                                </div>
                          </div>
                          <div class="mb-3">
                              <button class="btn btn-success" id="buttonSaveProject" type="submit">Save project</button>
                          </div>
                          </form>
          
          
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="buttonCloseNewProject">Close</button>
          
                  </div>
                </div>
              </div>
            </div>
          
          
          
          <% } %> 




        <table data-toggle="table" data-pagination="true"  data-search="true" class="table-striped table-bordered table-sm table-responsive ">
            <thead>
            <tr>
                <th data-sortable="true" >ID</th>
                <th data-sortable="true" >Title</th>
                <th data-sortable="true" >Author </th>
                <th data-sortable="true" >Creation date</th>

                
            </tr>
            </thead>
            <tbody class="table-group-divider">
            
                <% for (let project of projects) {%> 
                <tr>
                    <td><a href="/projects/<%= project._id %>"><%= project._id %> </a> </td>
                    <td class="" ><%= project.title %></td>
                    <td class="" ><%= project.author.email %></td>
                    <td><%= project.createdAt.toLocaleString() %> </td>

                </tr>
                    <% } %> 
            
            </tbody>
        </table> 



    </div>
</div>


<script src="/js/validateProjectForm.js"></script>
<script src="/js/createProject.js"></script>
