<% layout('layouts/mainLayout') %> 

<div class="row">
    <div class="col-md-8">
        <h1 id="titleProject" name="title"><%= project.title %> </h1>
    </div>

    <% if (currentUser.equals(project.author)) {%> 
    <div class="col-md-4 text-end" id="buttonsProject">
        <button class="btn btn-success d-none" id="buttonSaveEdit">Save edit</button>
        <button class="btn btn-secondary d-none" id="buttonCancelEdit">Cancel edit</button>
        <button class="btn btn-info" id="buttonEditProject">Edit project</button>
        <form
        class="d-inline"
        action="/projects/<%= project._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger" id="buttonDeleteProject">Delete project</button>
        </form>
    
    </div>

    <% } %> 

</div>
<div class="row">
    <div class="col-md-12">
        <h5 id="descriptionProject" name="description"><%= project.description %> </h5>
        <h6>Created by: <%= project.author.email %> </h6>
        <h6>Created at: <%= project.createdAt.toLocaleString() %> </h6>
    </div>
</div>
    

<div class="row">
    <div class="col-md-8 border">
        <h3>Issues</h3>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#issueModal" id="buttonCreateIssue">
            Create new issue
        </button>


        <div class="modal fade" id="issueModal" tabindex="-1" aria-labelledby="issueModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="issueModalLabel">Create new issue</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">



                    <form action="/projects/<%= project._id %>/issues" method="POST" novalidate class="needs-validation" enctype="multipart/form-data" id="formCreateIssue">
                        <div class="mb-3">
                            <label class="form-label" for="title">Title of new issue</label>
                            <input class="form-control" type="text" id="title" name="issue[title]" required>
                            <div class="invalid-feedback">
                                Please provide issue title.
                            </div>    
    
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Description of new issue</label>
                            <textarea class="form-control" type="text" id="description" name="issue[description]" required></textarea>
                            <div class="invalid-feedback">
                                Please provide issue description.
                            </div>
    
                        </div>
            
                        <div class="mb-3">
                            <label class="form-label" for="status">Status</label>
                            <select class="form-select" aria-label="Status select" name="issue[status]">
                                <% for (let status of statuses) { %> 
                                <option value="<%= status %>"><%= status %> </option>
                                <% } %> 
    
                              </select>
    
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="status">Priority</label>
                            <select class="form-select" aria-label="priority select" name="issue[priority]">
                                <% for (let priority of priorities) { %> 
                                <option value="<%= priority %>"><%= priority %> </option>
                                <% } %> 
    
                              </select>
    
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="status">Type of issue</label>
                            <select class="form-select" aria-label="issueType select" name="issue[issueType]">
                                <% for (let issueType of issueTypes ) { %> 
                                <option value="<%= issueType %>"><%= issueType %> </option>
                                <% } %> 
    
                            </select>
    
                        </div>
                        <div class="mb-3">

                            <label class="form-label" for="assignedUser">Assigned developer</label>
                            <select class="form-select" id="userSelect" aria-label="userSelect" name="issue[assignedUser]" required>

                                <%  for (let user of project.assignedUsers ) { %> 
                                <option value="<%= user._id %>"><%= user.email %> </option>
                                <% } %> 

                            </select>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success" id="buttonSaveissue">Save issue</button>
                        </div>
                        </form>



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="buttonCloseNewIssue">Close</button>

                </div>
              </div>
            </div>
          </div>






        <table data-toggle="table" data-pagination="true"  data-search="true" class="table-striped table-bordered table-sm table-responsive">
            <thead>
            <tr>
                <th data-sortable="true" >ID</th>
                <th data-sortable="true" >Title</th>
                <th data-sortable="true" >Creation date</th>
                <th data-sortable="true" >Status </th>
                <th data-sortable="true" >Priority </th>
                <th data-sortable="true" >Type </th>
                
            </tr>
            </thead>
            <tbody class="table-group-divider">
            
                <% for (let issue of project.issues) {%> 
                <tr>
                    <td><a href="/projects/<%= project._id %>/issues/<%= issue._id %>"><%= issue._id %> </a> </td>
                    <td class="" ><%= issue.title %></td>
                    <td><%= issue.createdAt.toLocaleString() %> </td>
                    <td><%= issue.status %> </td>
                    <td><%= issue.priority  %> </td>
                    <td><%= issue.issueType  %> </td>
                </tr>
                    <% } %> 
            
            </tbody>
        </table> 

    </div>

    <div class="col-md-4 border">
        <h3>Assigned team</h3>

        <% if (currentUser.equals(project.author)) {%> 

        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#assignUserModal">
            Assign user
        </button>


        <div class="modal fade" id="assignUserModal" tabindex="-1" aria-labelledby="assignUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="assignUserModalLabel">Assign user</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">



                    <form action="/projects/<%= project._id %>/team" method="POST" novalidate class="validated-form" enctype="multipart/form-data" id="formAssignUser">
                        <div class="mb-3">
                            <label class="form-label" for="email">E-mail of the user</label>
                            <input class="form-control" type="text" id="emailAssignedUser" name="email" required>
                            <div class="invalid-feedback">
                                No such user. Ask user to register with this email.
                            </div>   
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="role">Role of the user</label>
                            <select class="form-select" aria-label="roleSelect" name="role">
                                <% for (let role of roles ) { %> 
                                <option value="<%= role %>"><%= role %> </option>
                                <% } %> 
    
                            </select>

                        </div>
 
                        <button class="btn btn-primary" id="buttonAssignUser">Assign user</button>
                    </form>



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="buttonCloseAssignUser">Close</button>

                </div>
              </div>
            </div>
          </div>


          <% } %> 



        <table data-toggle="table"  data-search="true" class="table-striped table-bordered table-sm table-responsive">
            <thead>
            <tr>
                <th data-sortable="true">Username</th>
                <th data-sortable="true">E-mail</th>
                <th data-sortable="true">Role</th>
                <th data-sortable="false"></th>
                
            </tr>
            </thead>
            <tbody class="table-group-divider" id="tableAssignedUsers">
            

                <% for (let assignedUser of project.assignedUsers) {%> 

                    
                    <tr id="user<%= assignedUser._id  %>">

                        <td><%= assignedUser.username %> </td>
                        <td><%= assignedUser.email  %> </td>
                        <td><%= assignedUser.role  %> </td>
                        <td>
                           
                            <% if (currentUser.equals(project.author)) {%> 
                                <% if  (!currentUser.equals(assignedUser)) {%> 
                                <button class="btn btn-danger btn-sm" id="buttonDeleteIssue" onclick="deleteUser('<%= assignedUser._id  %>')">X</button>
                                <% } %> 
                            <% } %> 
                        </td>
                    </tr>
                    
                <% } %> 

            
            </tbody>
        </table> 

    </div>
</div>

  <script>
    
    const projectId = <%- JSON.stringify(project._id)  %>;
  
  </script>

<script src="/js/validateIssueForm.js"></script>
     <script src="/js/createIssue.js"></script>
  
  

  <% if (currentUser.equals(project.author)) {%> 
    
  <script src="/js/editProject.js"></script>
  <script src="/js/deleteAssignedUser.js"></script>
  <script src="/js/assignUser.js"></script>

  <% } %> 


