<% layout('layouts/mainLayout') %> 


<div class="row">
    <div class="col-md-8">
        <h3 id="titleIssue" name="title"><%= issue.title %> </h3>

      </div>

      <% if (currentUser.equals(issue.author)) {%> 

      <div class="col-md-4 text-end" id="buttonsIssue">
        <button class="btn btn-success d-none" id="buttonSaveEdit">Save edit</button>
        <button class="btn btn-secondary d-none" id="buttonCancelEdit">Cancel edit</button>
        <button class="btn btn-info" id="buttonEditIssue">Edit issue</button>
        <form
        class="d-inline"
        action="/projects/<%= project._id %>/issues/<%= issue._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger" id="buttonDeleteIssue">Delete Issue</button>
        </form>
    
    </div>
    <% } %> 


</div>

<div class="row">
  <div class="col-md-8">
        <table class="table table-bordered">

            <tbody>
              <tr>

                <td>
                    <h5>Issue description</h2>
                    <h6 id="descriptionIssue" name="description"><%= issue.description %> </h6>
                </td>
                <td>
                    <h5>Created by:</h2>
                    <h6><%= issue.author.email %>  </h3>
                </td>
              </tr>
              <tr>

                <td>
                    <h5>Status</h2>
                      <select class="form-select" aria-label="Status select" name="status" id="selectStatus" disabled>
                        <% for (let status of statuses) { %> 
                        <option value="<%= status %>" <% if (status==issue.status) {%> selected <% } %>  %> ><%= status %> </option>
                        <% } %> 

                      </select>
                   
                </td>
                <td>
                    <h5>Priority</h2>
                      <select class="form-select" aria-label="Priority select" name="priority" id="selectPriority" disabled>
                        <% for (let priority of priorities) { %> 
                        <option value="<%= priority %>" <% if (priority==issue.priority) {%> selected <% } %>  %> ><%= priority %> </option>
                        <% } %> 

                      </select>
                </td>
              </tr>
              <tr>

                <td>
                    <h5>Issue type:</h2>
                      
                      <select class="form-select" aria-label="Priority select" name="issueType" id="selectIssueType" disabled>
                        <% for (let issueType of issueTypes) { %> 
                        <option value="<%= issueType %>" <% if (issueType==issue.issueType) {%> selected <% } %>  %> ><%= issueType %> </option>
                        <% } %> 

                      </select>
                </td>
                <td>
                    <h5>Project:</h2>
                    <h6><a href="/projects/<%= project._id %>"><%= project.title %></a></h3>
                    </td>
              </tr>

                <td>
                    <h5>Assigned developer:</h2>
                      <select class="form-select" aria-label="Priority select" name="assignedUser" id="selectUser" disabled>
                        <% for (let user of project.assignedUsers) { %> 
                        <option value="<%= user._id %>" <% if (user.equals(issue.assignedUser)) {%> selected <% } %>  %> ><%= user.email %> </option>
                        <% } %> 

                    <h6><%= issue.assignedUser %>  </h3>
                </td>
                
                <td>
                    <h5>Last update:</h2>
                    <h6><%= issue.updatedAt.toLocaleString() %>  </h3>
                </td>
          
            </tbody>
          </table>

          <h3>Images</h3>

          <div class="mb-3 custom-file">

            <form
            class="d-inline"
            action="/projects/<%= project._id %>/issues/<%= issue._id %>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
            >

            
        
            <label for="formFile" class="form-label custom-file-label">Choose images</label>
            <input class="form-control custom-file-input mb-1" type="file" id="formFile" name="image" multiple>

            <button class="btn btn-info btn-sm" id="buttonUploadImage">Upload images</button>
          </form>

          <% if (issue.images.length > 0) {%> 
          <h5>List of images</h5>


          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <% for (let i =0; i < issue.images.length; i++) {%> 
              <div class="carousel-item <% if (i==0) {%>  active <% } %> ">
  
                <a href="/uploads/<%= issue.images[i].filename %>" data-toggle="lightbox"> 
                  <img src="/uploads/<%= issue.images[i].filename %> " class="d-block w-50 h-50 mx-auto img-fluid" alt="...">
                </a>
              </div>
              <% } %> 

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <% } %> 




        
        </div>

          <h3>History</h3>

          <table class="table-striped table-bordered table-sm table-responsive">
            <thead>
                <th>Action</th>
                <th>Made by:</th>
                <th>Date</th>
            </thead>
            <tbody>
              <% for (let issueChange of issueHistory) {%> 
                <tr>
                    <td><%= issueChange.o %> </td>
                    <td>Author</td>
                    <td><%= issueChange.t.toLocaleString() %> </td>
                    
                </tr>
                    <% } %> 

            </tbody>
            
          </table>

    </div>
    <div class="col-md-4" id="commentsColumn">
        <h3>Comments</h3>
        <form class="mb-3 validated-form"  method="POST"  novalidate id="formCreateComment" enctype="multipart/form-data"> 

            <textarea
            class="form-control mb-3"
            name="comment[body]"
            id="bodyComment"
            cols="30"
            rows="3"
            required
            ></textarea>
        
            <button class="btn btn-success">Send comment</button>
        </form>

        <div class="div" id="divComments">
          <% for (let comment of issue.comments) { %>
            <div class="card mb-3" id="comment<%= comment._id %>">
              <div class="card-body">
                <h5 class="card-title">
                  Author on <%= comment.createdAt.toLocaleString() %> 
                  
                </h5>
                <p class="card-text" id="textComment"><%= comment.body %></p>

                <% if (currentUser.equals(comment.author)) {%> 

                <div class="text-start" id="buttonsComment">
                 

                  <button class="btn btn-danger btn-sm" id="buttonDeleteIssue" onclick="deleteComment('<%= comment._id %>')">Delete</button>
                  
              
              </div>

              <% } %> 
                
              </div>



            </div>

        
        <% } %>


        </div>





    </div>
</div>
<script>
    
    const projectId = <%- JSON.stringify(project._id)  %>;
    const issueId = <%- JSON.stringify(issue._id)  %>;

  
</script>
<script src="/js/createComment.js"> </script>
<script src="/js/deleteComment.js"> </script>

<% if (currentUser.equals(issue.author)) {%> 

<script src="/js/editIssue.js"> </script>
<% } %> 

