<% layout('layouts/mainLayout') %> 


<div class="row">
    <div class="col-md-8">
        <h3 id="titleIssue"><%= issue.title %> </h3>

      </div>
      <div class="col-md-4 text-end" id="buttonsIssue">
        <button class="btn btn-success d-none" id="buttonSaveEdit">Save edit</button>
        <button class="btn btn-secondary d-none" id="buttonCancelEdit">Cancel edit</button>
        <button class="btn btn-info" id="buttonEditIssue">Edit issue</button>
        <form
        class="d-inline"
        action="/projects/<%= project._id %>/issues/<%= issue._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger" id="buttonDeleteIssue">Delete Issue</button>
        </form>
    
    </div>


</div>

<div class="row">
  <div class="col-md-8">
        <table class="table table-bordered">

            <tbody>
              <tr>

                <td>
                    <h5>Issue description</h2>
                    <h6 id="descriptionIssue"><%= issue.description %> </h6>
                </td>
                <td>
                    <h5>Created by:</h2>
                    <h6>Author </h3>
                </td>
              </tr>
              <tr>

                <td>
                    <h5>Status</h2>
                      <select class="form-select" aria-label="Status select" name="issue[status]" id="selectStatus" disabled>
                        <% for (let status of statuses) { %> 
                        <option value="<%= status %>" <% if (status==issue.status) {%> selected <% } %>  %> ><%= status %> </option>
                        <% } %> 

                      </select>
                   
                </td>
                <td>
                    <h5>Priority</h2>
                      <select class="form-select" aria-label="Priority select" name="issue[priority]" id="selectPriority" disabled>
                        <% for (let priority of priorities) { %> 
                        <option value="<%= priority %>" <% if (priority==issue.priority) {%> selected <% } %>  %> ><%= priority %> </option>
                        <% } %> 

                      </select>
                </td>
              </tr>
              <tr>

                <td>
                    <h5>Issue type:</h2>
                      
                      <select class="form-select" aria-label="Priority select" name="issue[issueType]" id="selectIssueType" disabled>
                        <% for (let issueType of issueTypes) { %> 
                        <option value="<%= issueType %>" <% if (issueType==issue.issueType) {%> selected <% } %>  %> ><%= issueType %> </option>
                        <% } %> 

                      </select>
                </td>
                <td>
                    <h5>Project:</h2>
                    <h6><a href="/projects/<%= project._id %>"><%= project.title %></a></h3>
                    </td>
              </tr>

                <td>
                    <h5>Assigned developer:</h2>
                    <h6>Developer </h3>
                </td>
                
                <td>
                    <h5>Last update:</h2>
                    <h6>Update time </h3>
                </td>
          
            </tbody>
          </table>

          <h3>Images</h3>

          <div class="mb-3 custom-file">

            <form
            class="d-inline"
            action="/projects/<%= project._id %>/issues/<%= issue._id %>?_method=PUT"
            method="POST"
            >

            
        
            <label for="formFile" class="form-label custom-file-label">Choose images</label>
            <input class="form-control custom-file-input mb-1" type="file" id="formFile" name="image" multiple>

            <button class="btn btn-info btn-sm" id="buttonUploadImage">Upload images</button>
          </form>
        </div>

          <h3>History</h3>

          <table class="table-dark table-striped table-bordered table-sm table-responsive">
            <thead>
                <th>Action</th>
                <th>Made by:</th>
                <th>Date</th>
            </thead>
            <tbody>
              <% for (let issueChange of issueHistory) {%> 
                <tr>
                    <td><%= issueChange.o %> </td>
                    <td>Author</td>
                    <td><%= issueChange.t.toLocaleString() %> </td>
                    
                </tr>
                    <% } %> 

            </tbody>
            
          </table>

    </div>
    <div class="col-md-4" id="commentsColumn">
        <h3>Comments</h3>
        <form class="mb-3 validated-form"  method="POST"  novalidate id="formCreateComment" enctype="multipart/form-data"> 

            <textarea
            class="form-control mb-3"
            name="comment[body]"
            id="bodyComment"
            cols="30"
            rows="3"
            required
            ></textarea>
        
            <button class="btn btn-success">Send comment</button>
        </form>

        <div class="div" id="divComments">
          <% for (let comment of issue.comments) { %>
            <div class="card mb-3" id="cardComment">
              <div class="card-body">
                <h5 class="card-title">
                  Author on <%= comment.createdAt.toLocaleString() %> 
                  
                </h5>
                <p class="card-text" id="textComment"><%= comment.body %></p>

                <div class="text-start" id="buttonsComment">
                 
                  <form
                  class="d-inline"
                  action="/projects/<%= project._id %>/issues/<%= issue._id %>/comments/<%= comment._id %>?_method=DELETE"
                  method="POST"
                  >
                  <button class="btn btn-danger btn-sm" id="buttonDeleteIssue">Delete</button>
                  </form>
              
              </div>
                
              </div>



            </div>

        
        <% } %>


        </div>





    </div>
</div>
<script>
    
    const projectId = <%- JSON.stringify(project._id)  %>;
    const issueId = <%- JSON.stringify(issue._id)  %>;


  
</script>
<script src="/js/createComment.js"> </script>
<script src="/js/editIssue.js"> </script>